

<link href="/css/header-footer.css" rel="stylesheet">


<footer class="footer">
    <p class="titulo-footer">&copy; 2024  Ingeniero_rik & Técnicos Independientes de fotocopiadoras multifunción de la República Argentina.</p>
   </footer>