

<link href="/css/header-footer.css" rel="stylesheet">


<footer class="footer">

    <div class="barra-intermedia">
        <marquee scrollamount="5" behavior="alternate">
            <img src="/images/brother.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/canon.png" width="80px" height="50px"   alt="logo"/>
            <img src="/images/epson.png" width="80px" height="50px"   alt="logo"/>
            <img src="/images/hp.png" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/ricoh.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/kyocera.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/lexmark.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/minolta.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/oki.png" width="80px" height="50px"   alt="logo"/>
            <img src="/images/panasonic.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/ricoh.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/samsung.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/xerox.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/brother.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/canon.png" width="80px" height="50px"   alt="logo"/>
            <img src="/images/epson.png" width="80px" height="50px"   alt="logo"/>
            <img src="/images/hp.png" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/kyocera.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/lexmark.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/minolta.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/oki.png" width="80px" height="50px"   alt="logo"/>
            <img src="/images/panasonic.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/ricoh.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/samsung.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/xerox.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/ricoh.jpg" width="80px" height="50px"   alt="logo"/> 
            <img src="/images/samsung.jpg" width="80px" height="50px"   alt="logo"/>
            <img src="/images/canon.png" width="80px" height="50px"   alt="logo"/>
        </marquee>
      </div>
    <p class="titulo-footer">&copy; 2024  Ingeniero_rik & Técnicos Independientes de fotocopiadoras multifunción de la República Argentina.</p>
   </footer>