
<link href="/css/header-footer.css" rel="stylesheet">

<header class="header">
    <a href="/">  <img src="../images/imp8.png" alt="Icono" width="50" height="40" class="icono"></a> 
    <h1>Técnicos Independientes</h1>
  </header>

