


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <title>Técnicos Independientes</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/imp1.webp" type="image/x-icon">