.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(192, 188, 188, 0.4);
    color: rgb(15, 13, 13);
    text-align: center;
    padding: 10px 0;
  }
  .icono {
    float: left; 
    margin-left: 20px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(192, 188, 188, 0.4);
    color: rgb(15, 13, 13);
    text-align:center;
    padding: 10px 0;
  }
  .titulo-footer{
    margin-left: 10px;
    margin-top: 12px;
  }
 @media (min-width: 768px){
   
  @media (min-width: 425px){
    .titulo-header { 
      margin-right: 40px !important;
    }
   
  }
