<!doctype html>
<html lang="es">
  <head>
    <%- include('pages/partials/head.ejs') %>
  
    <link href="../css/styles.css" rel="stylesheet">
   
   </head>

  <body>
    
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

      

      <a href="/" class="d-flex align-items-center mb-3 mb-md-2  text-dark text-decoration-none"> 
        <img src="../images/imp8.png" alt="Icono" width="50" height="40" class="icono">
        <span class="fs-1 titulo-header">Técnicos Independientes</span>
      </a>  
        <div class="col-md-3 text-end">

        
              <a type="button" class="btn btn-outline-secondary me-2" href="/verlogin">Ingresar</a> 
      
        </div>
    

    </header>

    <main>
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom titulo-central">
        <h2>Para uso exclusivo de los técnicos registrados.</h2>
     
        </div> 

        <div class="barra-intermedia">
          <marquee scrollamount="10" behavior="alternate">
              <img src="/images/imp1.webp" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp2.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp3.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp4.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp5.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp6.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp7.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp8.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp1.webp" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp2.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp3.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp4.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp5.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp6.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp7.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp8.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp1.webp" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp2.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp3.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp4.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp5.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp6.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp7.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp8.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp1.webp" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp2.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp3.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp4.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp5.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp6.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp7.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp8.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp1.webp" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp2.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp3.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp4.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp5.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp6.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp7.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp8.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp1.webp" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp2.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp3.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp4.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp5.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp6.png" width="40px" height="40px"   alt="logo"/> 
              <img src="/images/imp7.png" width="40px" height="40px"   alt="logo"/>
              <img src="/images/imp8.png" width="40px" height="40px"   alt="logo"/>
          </marquee>
        </div>

        <video  class="video-centrado"   width="420" height="340" autoplay loop muted>
          <source src="/images/Animated_Printer.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

    
<!--------------------------------- footer --------------------------------------------------------------->
<%- include('pages/partials/footer.ejs') %> 

    

      <script src="../css/bootstrap.min.css"></script>
  </body>
</html>
